<h1><%= @project.name %> Versions</h1>

<table>
  <tbody>
    <% @app_versions.each do |app_version| %>
      <%
         @image_url = 'android.png'
         if app_version.app_artifact.url.rindex('.ipa')
            @image_url = 'apple.png'
         end
      %>
      <tr>
        <td><%= image_tag @image_url, width: '50' %></td>
        <td><%= image_tag "#{app_version.version_icon.url(:thumb)}" %></td>
        <td><%= app_version.version %></td>
        <td><%= link_to 'Show', project_app_version_path(@project.id, app_version.id), :class => 'blue_button' %></td>
        <td><%= link_to 'Destroy', "/projects/#{@project.id}/app_versions/#{app_version.id}", method: :delete, data: { confirm: 'Are you sure?' }, :class => 'blue_button'  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New App version', new_project_app_version_path %>
<p><%= link_to 'Back', "/projects/#{@project.id}" %></p>
