<h1><%= @project.name %> Versions</h1>

<div class="android_builds">
    <table>
      <tbody>
      <% if @android_versions.size > 0 %>
          <% @android_versions.each do |android_version| %>
              <tr>
                <td><%= image_tag 'android.png', width: '50' %></td>
                <td><%= image_tag "#{android_version.version_icon.url(:thumb)}" %></td>
                <td><%= android_version.version %><br/><%= android_version.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%m/%d/%Y at %I:%M%p") %></td>
                <td><%= link_to 'Show', project_app_version_path(@project.id, android_version.id), :class => 'blue_button' %></td>
                <td><%= link_to 'Destroy', "/projects/#{@project.id}/app_versions/#{android_version.id}", method: :delete, data: { confirm: 'Are you sure?' }, :class => 'blue_button'  %></td>
              </tr>
          <% end %>
      <% else %>
          <b>No Android Versions Currently Available.</b>
      <% end %>
      </tbody>
    </table>
</div>

<div class="ios_builds">
    <table>
      <tbody>
        <% if @ios_versions.size > 0 %>
            <% @ios_versions.each do |ios_version| %>
              <tr>
                <td><%= image_tag 'apple.png', width: '50' %></td>
                <td><%= image_tag "#{ios_version.version_icon.url(:thumb)}" %></td>
                <td><%= ios_version.version %><br/><%= ios_version.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%m/%d/%Y at %I:%M%p") %></td>
                <td><%= link_to 'Show', project_app_version_path(@project.id, ios_version.id), :class => 'blue_button' %></td>
                <td><%= link_to 'Destroy', "/projects/#{@project.id}/app_versions/#{ios_version.id}", method: :delete, data: { confirm: 'Are you sure?' }, :class => 'blue_button'  %></td>
              </tr>
            <% end %>
        <% else %>
            <b>No iOS Versions Currently Available.</b>
        <% end %>
      </tbody>
    </table>
</div>

<div class="clear"></div>
<br>

<%= link_to 'New App version', new_project_app_version_path, class: 'blue_button' %>
<p><%= link_to 'Back', '/projects', class: 'blue_button' %></p>
