<h1><%= @project.name %> Versions</h1>

<table>
  <tbody>
  <% @android_versions.each do |android_version| %>
      <tr>
        <td><%= image_tag 'android.png', width: '50' %></td>
        <td><%= image_tag "#{android_version.version_icon.url(:thumb)}" %></td>
        <td><%= android_version.version %><br/><%= android_version.created_at.strftime("%m/%d/%Y at %I:%M%p") %></td>
        <td><%= link_to 'Show', project_app_version_path(@project.id, android_version.id), :class => 'blue_button' %></td>
        <td><%= link_to 'Destroy', "/projects/#{@project.id}/app_versions/#{android_version.id}", method: :delete, data: { confirm: 'Are you sure?' }, :class => 'blue_button'  %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<table>
  <tbody>
    <% @ios_versions.each do |ios_version| %>
      <tr>
        <td><%= image_tag 'apple.png', width: '50' %></td>
        <td><%= image_tag "#{ios_version.version_icon.url(:thumb)}" %></td>
        <td><%= ios_version.version %><br/><%= ios_version.created_at.strftime("%m/%d/%Y at %I:%M%p") %></td>
        <td><%= link_to 'Show', project_app_version_path(@project.id, ios_version.id), :class => 'blue_button' %></td>
        <td><%= link_to 'Destroy', "/projects/#{@project.id}/app_versions/#{ios_version.id}", method: :delete, data: { confirm: 'Are you sure?' }, :class => 'blue_button'  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New App version', new_project_app_version_path %>
<p><%= link_to 'Back', "/projects/#{@project.id}" %></p>
