<p id="notice"><%= notice %></p>
<%= @app_version.name %> |
<%= link_to 'Install', @app_version.url_plist %> |
<%= link_to 'ipa', @app_version.app_ipa.url %> |
<%= link_to 'Back', "/projects/#{@app_version.project_id}/app_versions" %>
