<% title "#{@app_version.version} " %>
<p id="notice"><%= notice %></p>
<%= image_tag "#{@app_version.version_icon.url(:thumb)}" %>
<%= @app_version.version %>
<p>
  <b><%= @app_version.version %> Release Notes:</b><br/>
  <%= @app_version.notes %>
</p>
<%= link_to 'Install', @artifact_url, 'data-role' => 'button', 'data-ajax' => false %>
