<h1>Listing projects</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%=	 image_tag "#{project.project_icon.url(:thumb)}" %></td>
        <td><%= project.name %></td>
        <td><%= link_to 'Show', project, :class => 'blue_button'%></td>
        <td><%= link_to 'Edit', edit_project_path(project), :class => 'blue_button' %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'blue_button' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
