<% @projects.each do |project| %>
    <div class="project">
        <%= project.name %><br/>
        <% if project.project_icon.url(:thumb) != '/project_icons/thumb/missing.png' %>
              <%= image_tag "#{project.project_icon.url(:thumb)}" %>
          <% else %>
              <%= image_tag 'rent_path_logo.png', :width => '50' %>
          <% end %>
        <div class="project_links">
            <%= link_to 'Show', "/projects/#{project.id}/app_versions", :class => 'blue_button'%>
            <%= link_to 'Edit', edit_project_path(project), :class => 'blue_button' %>
            <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'blue_button' %>
        </div>
    </div>
<% end %>


<br>

<%= link_to 'New Project', new_project_path, class: 'blue_button' %>
